# latex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.gz
*.toc
*.out
*.xdv
*.xcp

**/sections/*.pdf

# vscode
.vscode

# sphinx docs
**/build/*

# python
**/__pycache__/*

# jupyter
**/.ipynb_checkpoints/*
